@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: 'Montserrat', sans-serif;
}

@layer components {
  .container-max {
    @apply container max-w-[1080px] w-[90%] mx-auto;
  }
  .container-md {
    @apply container max-w-[768px] w-[90%] mx-auto;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
}

.overlay-container {
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7) 10%,
    rgba(0, 0, 0, 0) 90%
  ); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  opacity: 1;
  color: white;
  font-size: 20px;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.logo {
  font-family: 'Kaushan Script', cursive;
}
